<div class="container top-30">


    <form class="form-inline">
        <div class="form-group">
            <div class="form-horizontal">
            <label for="termino">nombre usuario o id facebook</label>
              <input [(ngModel)]="termino"
              (keyup)="buscarCliente()"
              type="text" name="termino"
              class="form-control"
              placeholder="buscar por cliente..">
          </div>
        </div>

{{this.data.picture.data.url}}


  <form class="form-inline"[formGroup]="forma" (ngSubmit)="cargarDatos()">

    <div class="form-group">
      <div class="input-group col-md-12">
        <button type="submit" class="btn btn-outline-primary top-10">
          Cargar
        </button>
      </div>

<form class="form-inline"[formGroup]="forma" (ngSubmit)="enviar()">
      <div class="input-group col-md-12 top-10">
        <button type="submit" class="btn btn-outline-danger">
          Enviar
        </button>
      </div>
</form>

      <div class="input-group col-md-12 top-10">
        <button [routerLink]="['/partners']"
                class="btn btn-outline-success">
          Regresar
        </button>
      </div>
  </div>


    <div class="row">
      <div class="col-md-12 top-10">

    <h4>Perfil <small>Asociado</small></h4>
    <hr>
          <div class="form-group row">
            <label class="col-2 col-form-label ">Nombre</label>
            <div class="col-md-6">
              <input [(ngModel)]="profile.nombre"
                     name="nombre"
                     class="form-control"
                     type="text"
                     placeholder="nombre"
                     formControlName="nombre">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label">Actividad</label>
            <div class="col-md-6">
              <input [(ngModel)]="profile.actividad"
                    class="form-control"
                     type="text"
                     placeholder="actividad"
                     formControlName="actividad">
            </div>
          </div>
          <div class="form-group row">
            <label for="telefono" class="col-2 col-form-label">Teléfono</label>
            <div class="col-md-6">
              <input [(ngModel)]="profile.telefono"
                     class="form-control"
                     type="text"
                     placeholder="teléfono"
                     formControlName="phone">
            </div>
          </div>
        <div class="form-group row">
          <label class="col-md-2">Email</label>
          <div class="col-md-6">
            <input [(ngModel)]="profile.email"
                  class="form-control"
                   type="email"
                   placeholder="correo electrónico"
                   formControlName="email">
             </div>







           <div class="form-group">
             <label for="profile.categoria">Select:</label>
             <div class="col-md-6">

             <select class="form-control" id="categoria">
               <option>Automoción</option>
               <option>Deportes</option>
               <option>Moda infantil</option>
               <option>Moda juvenil</option>
             </select>
           </div>
         </div>
        </div>
      </div>
    </div>



    <div class="container top-30">
      <table class="table">
        <thead>
          <tr *ngFor="let cliente of _facebService.clientes">
            <th>{{i+1}}</th>
            <th>{{cliente.name}}</th>
            <th>{{cliente.full_picture}}</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>







    </div>
    </form>
